
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #000000; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    padding: 2rem;
}

h1 {
    font-size: 3.5rem; 
    font-weight: 300;
    margin-bottom: 2.5rem; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    color: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
}

nav a {
    display: block;
    width: 200px;
    padding: 15px 0; 
    border: 2px solid #ffffff; 
    border-radius: 5px;


    color: #ffffff; 
    text-decoration: none; 
    font-size: 1.2rem;
    font-weight: bold;

    background-color: #000000;
    cursor: pointer;
}

nav a:hover {
    background-color: #ffffff; 
    color: #000000; 
}