<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chemistry Game{% endblock %}</title>

</head>
<body>
    <iframe src="{{ url_for('index') }}" style="width: 100%; height: 100vh; border: none;"></iframe>
    <script>
         // Prevent window from closing without confirmation
        window.addEventListener('beforeunload', (event) => {
            event.preventDefault();
            event.returnValue = '';
        });
        // Stop history navigation from back and forward buttons
        window.addEventListener('popstate', (event) => {
            history.pushState(null, null, window.location.href);
        });
        // Push initial state to prevent back navigation
        history.pushState(null, null, window.location.href);
    </script>
</body>
</html>