<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='how.css') }}">
</head>
<body>

    <header>
        <h1>How To Play</h1>
    </header>

    <main>
        <div class="image-gallery">
            <p>There will be 10 Chemistry related questions you have to answer. You will either be a contestant or in the audience. If you're a contestant you will be paired up with another contestant and both of you will have to type the answer to the question presented. At the end of a round the audience will vote for whoever has the best answer, the contestant with the most votes wins that round and gets points. While the contestants are answering the audience will select one of the multiple choice answers on screen. At the end of a round points will be given depending on if you got the answer correct or if you received the most votes. The goal of the game is to get the most points by the end of all 10 rounds. Remember the audience will select who they think has the right answer, you may have the right answer, but if the other contestant's answer is more appealing to the audience they will get points.</p>

        </div>
    </main>

</body>
</html>